:root{
	--primary-color:#00bcd4;
	--secondry-color:#333;
	--white:#fff;
}	
.container{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
	
}
.row > *{
	width:100%;
	padding:0 15px;
}
.col-lg-1{
	width:8.33%;
}
.col-lg-2{
	width:16.66%;
}
.col-lg-3{
	width:25%;
}
.col-lg-4{
	width:33.33%;
}
.col-lg-5{
	width:41.66%;
}
.col-lg-6{
	width:50%;
}
.col-lg-7{
	width:58.33%;
}
.col-lg-8{
	width:66.66%;
}
.col-lg-9{
	width:75%;
}
.col-lg-10{
	width:83.33%;
}
.col-lg-11{
	width:91.66%;
}
.col-lg-12{
	width:100%;
}
.button{
	display:inline-block;
	color:var(--white);
	background-color:var(--primary-color);
	text-decoration:none;
	padding:8px 25px;
	text-align:center;
}
	
.justify-content-start{
	justify-content:flex-start !important;
}
.justify-content-end{
	justify-content:flex-end !important;
}
.justify-content-space-between{
	justify-content:space-between !important;
}
.justify-content-space-around{
	justify-content:space-around !important;
}
.align-items-start{
	align-items:flex-start !important;
}	
.align-items-end{
	align-items:flex-end !important;
}
.align-items-center{
	align-items:center !important;
}
.align-items-baseline{
	align-items:baseline !important;
}
.text-right{
	text-align:right;
}
/*-------header section-------*/
.header{
	background-color:var(--white);
}
.header-info{
	background-color:var(--secondry-color);
}
.content-info span{
	display:inline-block;
	margin-right:10px;
	color:var(--white);
	font-size:14px;
	padding:12px 0;
	}
.content-info span >a{
	color:var(--white);
	text-decoration:none;
}
.content-info span >a:hover{
	color:var(--primary-color);
}
.content-info span i{
	color:var(--primary-color);
	margin-right:5px;
}
.header-button{
	background-color:var(--primary-color);
	height:100%;
}
/*-------nav section-------*/
.nav-section{
	padding:15px 0;
}
h1.logo a{
	text-decoration:none;
	display:inline-block;
	font-size:32px;
	font-weight:600;
	color:#635551;
	
	}
.menubar{
	display:flex;
	justify-content:flex-end;
}	
.menubar a{
	display:block;
	text-decoration:none;
	padding:8px 15px;
	color:#635551;
	font-size:14px;
}
.menubar a:hover{
	color:var(--primary-color);
}
.menubar a.active{
	color:var(--primary-color);
}

/*-------banner section-------*/
.banner-section{
	background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("../image/bg-01.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	padding:270px 0;
}
.banner-content{
	width:60%;
}
.banner-content h1{
	font-size:48px;
	color:var(--white);
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	margin-bottom:15px;
}
.banner-content p{
	font-size:20px;
	color:#eee;
	margin-bottom:55px;
}
.b-c-g{
	position:relative;
	display:inline-block;
	padding-left:20px;
	padding-top:6px;
	padding-bottom:6px;
	
}
.b-c-g a{
	border-radius:25px;
	padding-left:42px;
	padding-top:12px;
	padding-bottom:12px;
	background-color:var(--secondry-color);
	transition:all .3s ease;
	font-size:15px;
	font-weight:400;
}
.b-c-g a:hover{
	background-color:var(--primary-color);
	
}
.b-c-g i{
	position:absolute;
	top:0;
	left:0;
	background-color:var(--primary-color);
	height:50px;
	width:50px;
	text-align:center;
	line-height:50px;
	color:var(--white);
	border-radius:50%;
	box-shadow:1px 0 5px -2px #000;
}
/*-------why-choose section-------*/
.why-choose{
	background-color:;
	padding:20px;
	position:relative;
	top:-140px;
}
.why-choose-1{
	background-color:var(--secondry-color);
	height:350px;
}
.choose-item{
	background-color:var(--secondry-color);
	height:250px;
}


/*-------about section-------*/
.about{
	background-color:#00bcd4;
	padding:80px 0;
}
.about-img{
	background-color:var(--secondry-color);
	height:400px;
}
.about-content{
	background-color:var(--secondry-color);
	height:400px;
}


/*-------client section-------*/
.client{
	background-color:#000;
	padding:40px 0;
}
.client-logo{
	background-color:#00bcd4;
    height:60px;	
}

/*-------services section-------*/

.services{
	background-color:#00bcd4;
	padding:80px 0;
}
.sec-title{
	background-color:#000;
	height:60px;
}
.serives-item{
	background-color:#000;
	height:250px;
	margin-top:60px;
}	
	

.our{
	background-color:#000;
	padding:80px 0;
}	
.our-item{
	background-color:#00bcd4;
	height:350px;
	margin-top:60px;
	padding:20px;
	padding-top:175px;
}
.our-item-in{
	background-color:#000;
	height:150px;
}
/*-------freelancer section-------*/
.freelancer{
	background-color:#00bcd4;
	padding:80px 0;
}
.freelancer-item{
	background-color:#000;
	padding:80px;
	height:150px;
}

/*-------portfolio section-------*/
.portfolio{
	background-color:#000;
	padding:80px 0;
}
.portfolio-title{
	background-color:#00bcd4;
	padding:0 60px;
	height:150px;
}
.portfolio-a{
	background-color:#00bcd4;
	height:50px;
	margin-top:10px;
}
.portfolio-item{
	background-color:#00bcd4;
	height:270px;
	margin-top:40px;
}
/*-------team section-------*/
.team{
	background-color:#00bcd4;
	padding:80px 0;
}
.team-title{
	background-color:#000;
	height:140px;
}
.team-item{
	background-color:#000;
	height:350px;
	margin-top:30px;
}

/*-------pricing section-------*/
.pricing{
	background-color:#000;
	padding:80px 0;
}
.pricing-title{
	background-color:#00bcd4;
	height:140px;
}	
.pricing-item{
	background-color:#00bcd4;
	height:350px;
	margin-top:30px;
}

/*-------faq section-------*/
.faq{
	background-color:#00bcd4;
	padding:80px;
}
.faq-title{
	background-color:#000;
	height:150px;
}
.faq-col{
	flex-direction:column;
	padding:0 80px
}
.faq-item{
	background-color:#000;
	height:80px;
    margin-top:20px;
}

/*-------contact section-------*/
.contact{
	background-color:#000;
	padding:80px 0;
}
.contact-title{
	background-color:#00bcd4;
	height:150px;
}
.contact-full{
	margin:0 200px;
}
.contact-item{
	background-color:#00bcd4;
	height:200px;
	margin-top:30px;
}
.contact-item-1{
	background-color:#00bcd4;
	height:400px;
	margin-top:30px;
}

/*-------footer section-------*/
.foot{
	background-color:#00bcd4;
	padding:80px 0;
}
.foot-item{
	background-color:#000;
	height:250px;
}

.foot-1{
	background-color:#000;
	padding:20px 0;
}
.foot-info{
	background-color:#00bcd4;
	height:80px;
}
.foot-contact{
	background-color:#00bcd4;
	height:80px;
}